<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cibertec.appdocente.appdocentecibertec">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginDocenteActivity">
        </activity>
        <activity android:name=".MenuDocenteActivity" />
        <activity android:name=".HorarioDocenteActivity" />
        <activity android:name=".CursosDocenteActivity" />
        <activity android:name=".TemasCursoActivity" />
        <activity android:name=".PerfilDocenteActivity" />
        <activity android:name=".InfoCursoActivity" />
        <activity android:name=".AlumnosClaseActivity" />
        <activity android:name=".EventosCalendarioActivity" />
        <activity android:name=".AgregarEventoActivity" />
        <activity android:name=".InicioActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>